<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/xterm.css")
    link(rel="stylesheet", href="/bulma.min.css")
    <script src="xterm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.25.0/humanize-duration.min.js" integrity="sha512-0UnIJivC9iikxy7OKQGyLFRBtayFBWmh+Fdkv0qXcMY7N1Byk0Vi+WX+7MVdXQriiBDprEqZ6Gwcd5NLyPvGjA==" crossorigin="anonymous"></script>
    script(src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js")
    link(rel="stylesheet", href="/index.css")
    title 分析自动化截图测试平台
  body
    div.test
      div.test__results
        h5(class="title is-5") 运行记录
        ul.test__result-list
          each item in testResults
            -
              let duration = item.endTime - item.startTime;
              duration = humanizeDuration(duration);
            li(class='test__result' data-id=item.id class=item.status === 'passed' ? 'test__result--passed' : 'test__result--failed')
              .test__id= '#' + item.id
              .test__status= item.status
              .test__cmd= '命令: ' + item.cmd
              .test__started= '开始时间: ' + new Date(item.startTime).toLocaleString()
              .test__finished= '结束时间: ' + new Date(item.endTime).toLocaleString()
              .test__duration= '持续时间: ' + duration
              a(href=item.htmlReport) 查看运行报告
              br
              a(href=item.imagesPath) 查看图片
      div.test__details 
        div(class="action-bar")
          label(for="action") 命令: &nbsp;&nbsp;&nbsp;&nbsp;
          .select(class="flex1")
            select#action(name="" style="width: 100%")
              option(value="update") 到生产环境更新对照图片
              option(value="test") 生产环境和测试环境对比
              option(value="gray") 生产环境和灰度环境对比
              option(value="prod") 生产环境和生产环境对比
          span  &nbsp;&nbsp;&nbsp;&nbsp;
          button(onclick="runTest()" class="button test-button" id="btn-update-test") 运行
        div.test__cases
          h5(class="title is-5") 测试用例
          h6(class="subtitle is-6") 目前支持的用例, 以 "账号id-考试id-报表类型" 三级格式进行组织, 通过勾选和取消勾选来确定测试范围
          ul
            each item in testCases
              li(class="test__user-id" data-id=item.userId)= item.userId
                ul
                  each e in item.examList
                    li(class='test__exam-id' data-id=e.examId)= e.examId
                      ul
                        each r in e.reportList  
                          li(class='test__report-name' data-id=r.name)
                            label(for=`${item.userId}-${e.examId}-${r.name}`)= r.name
                            span &nbsp;
                            input(type="checkbox" id=`${item.userId}-${e.examId}-${r.name}` checked)
        div.test__console
          h5(class="title is-5") 控制台
          h6(class="subtitle is-6") 实时显示服务器运行日志
          <div class="test__log" id="terminal"></div>
    script(src="index.js")